:root {
  --vp-c-brand-1: #000;
  --vp-c-brand-2: #262626;
  --vp-c-brand-3: #000;
  --vp-c-brand-soft: rgb(0 0 0 / 8%);
  --vp-button-brand-border: #000;
  --vp-button-brand-text: #fff;
  --vp-button-brand-bg: #000;
  --vp-button-brand-hover-border: #262626;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #262626;
  --vp-button-brand-active-border: #404040;
  --vp-button-brand-active-text: #fff;
  --vp-button-brand-active-bg: #404040;
  --vp-home-hero-name-color: #000;
}

.dark {
  --vp-c-brand-1: #fff;
  --vp-c-brand-2: #e5e5e5;
  --vp-c-brand-3: #fff;
  --vp-c-brand-soft: rgb(255 255 255 / 12%);
  --vp-button-brand-border: #fff;
  --vp-button-brand-text: #000;
  --vp-button-brand-bg: #fff;
  --vp-button-brand-hover-border: #e5e5e5;
  --vp-button-brand-hover-text: #000;
  --vp-button-brand-hover-bg: #e5e5e5;
  --vp-button-brand-active-border: #ccc;
  --vp-button-brand-active-text: #000;
  --vp-button-brand-active-bg: #ccc;
  --vp-home-hero-name-color: #fff;
}

.VPImage {
  border-radius: 5px;
}

.VPImage.image-src {
  width: min(25vw, 250px);
  height: min(25vw, 250px);
}

.image-src {
  border-radius: 20px;
}
